.product-section {
    background-color: transparent;
  }

.df {
    width: 335px; 
    height: auto; 
    margin-top: 120px;
    margin-left: 32px;
  }

.product-title {
    color: white;
    margin-top: -497px;
    margin-left: 548px;
}

.product-description {
    color: white;
    margin-left: 406px;
}
  